{
    "timeout": 30,
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "src/Console"
        ]
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true
    }
}
